@font-face {
  font-family: 'knicknack';
  src: url('Knicknack-Regular.eot');
  src: local('Knicknack Regular'), local('Knicknack-Regular'), url('Knicknack-Regular.eot?#iefix') format('embedded-opentype'), url('Knicknack-Regular.woff2') format('woff2'), url('Knicknack-Regular.woff') format('woff'), url('Knicknack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: Poppins;
  font-size: 20px;
  line-height: 28px;
}
@media screen and (max-width: 576px) {
  body {
    font-size: 15px;
    line-height: 23px;
  }
}
.font-knicknack {
  font-family: knicknack;
}
.btn {
  /* Layout Properties */
  top: 697px;
  left: 280px;
  width: 250px;
  height: 50px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  opacity: 1;
  padding-top: 11px;
  font: Poppins;
  font-weight: 700;
}
h1 {
  color: #00142d;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  /* 125% */
}
h2 {
  color: #00142d;
  font-family: Jomhuria;
  font-size: 60px;
  font-weight: 400;
  line-height: normal;
}
h5 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
}
.arrow {
  position: relative;
  top: -47px;
  text-decoration: none;
}
.arrow-back {
  text-decoration: none;
}
#menu {
  background-color: white;
  position: absolute;
  top: 0px;
  width: 100%;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#menu a {
  color: black;
  text-decoration: none;
}
#MerchAndIceName {
  font-family: Jomhuria;
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#MerchAndIceLandingInfo {
  margin-top: -60px;
}
#landing {
  border-radius: 0px 0px 120px 120px;
  background: #699FFA;
  height: 97vh;
}
@media screen and (max-width: 576px) {
  #landing {
    border-radius: 0px 0px 60px 60px;
  }
}
#landing .align-items-center {
  height: 100%;
}
#landing .title {
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 35px;
}
@media screen and (max-width: 576px) and (max-aspect-ratio: 1/1) {
  #landing .title {
    font-size: 40px;
    line-height: 42px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) and (min-aspect-ratio: 1/1) {
  #landing .title {
    font-size: 33px;
    line-height: 35px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) and (min-aspect-ratio: 1/1) {
  #landing .title {
    font-size: 49px;
    line-height: 50px;
  }
}
@media screen and (min-width: 577px) and (max-width: 1200px) and (max-aspect-ratio: 1/1) {
  #landing .title {
    font-size: 49px;
    line-height: 50px;
  }
}
#landing p {
  color: white;
  /*
        max-aspect-ration: 1/1 = portrait
        min-aspect-ration: 1/1 = landscape
        */
  /*
        @media screen and (min-width: 577px) and (max-width: 1200px) and (max-aspect-ratio: 1/1) {
            font-size: 49px;
            line-height: 50px;
        }
            */
}
@media screen and (min-width: 577px) and (max-width: 768px) and (min-aspect-ratio: 1/1) {
  #landing p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) and (min-aspect-ratio: 1/1) {
  #landing p {
    font-size: 16px;
    line-height: 18px;
  }
}
#landing .landing-btn {
  background-color: #f5fdff;
  border-color: #f5fdff;
  color: #00142d;
}
#landing .landing-btn:hover {
  background-color: #00142d;
  color: #f5fdff;
  border-color: #00142d;
}
@media screen and (max-width: 576px) {
  #landing .mobile-bottom {
    position: absolute;
    bottom: 70px;
    left: 0px;
  }
}
#landing .next-section-btn {
  position: relative;
  text-align: center;
  bottom: 60px;
}
@media screen and (max-width: 768px) {
  #landing .next-section-btn {
    bottom: 50px;
  }
}
#description {
  padding-top: 150px;
  padding-bottom: 150px;
}
@media screen and (max-width: 576px) {
  #description {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}
#members .card {
  width: 18rem;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  border: none;
  background-color: #699FFA;
}
@media screen and (max-width: 576px) {
  #members .card {
    width: 23rem;
  }
}
#members .card .pfp {
  margin-top: 25px;
  height: 180px;
}
@media screen and (max-width: 576px) {
  #members .card .pfp {
    height: 200px;
  }
}
#members .card::after {
  content: "";
  display: block;
  position: absolute;
  height: 55px;
  width: 120px;
  right: 0px;
  bottom: -17px;
  background: url("../img/snow_member_shops.svg") no-repeat;
  background-position-x: right;
  background-size: 120px;
}
#members .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  color: #FFFFFF;
}
#members .card-body h5 {
  margin-top: 10px;
}
#members .card-body .card-title {
  font-family: knicknack;
  font-size: 30px;
  flex-grow: 1;
}
@media screen and (max-width: 576px) {
  #members .card-body .card-title {
    font-size: 28px;
  }
}
#members .card-body .card-text {
  flex-grow: 1;
  font-size: 16px;
  padding: 15px 0 15px 0;
}
#members .card-body .member-btn {
  transition: color 0.3s;
}
#members .card-body .member-btn:hover {
  background-color: #00142d;
  color: #f5fdff;
  border-color: #00142d;
}
#members .card-body a.socials {
  text-decoration: none;
  color: #FFFFFF !important;
}
#members .card-body ul {
  width: 40%;
  display: table;
  table-layout: fixed;
  padding: 0px;
  margin: 0px;
}
@media screen and (max-width: 576px) {
  #members .card-body ul {
    width: 50%;
  }
}
#members .card-body ul li {
  display: table-cell;
  width: auto;
  text-align: center;
}
@media screen and (max-width: 576px) {
  #members .card-body ul li {
    font-size: 1.75em !important;
  }
}
#faqs .accordion .accordion-item {
  color: white;
  background-color: #699FFA;
  border-radius: 20px;
  margin-bottom: 20px;
}
#faqs .accordion .accordion-item button {
  color: white;
  background-color: #699FFA;
  border-radius: 20px;
  font-family: knicknack;
  font-size: 20px;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0);
  padding-right: 100px;
}
@media screen and (max-width: 576px) {
  #faqs .accordion .accordion-item button {
    height: 88px;
  }
}
#faqs .accordion .accordion-item button::before {
  content: "";
  display: block;
  position: absolute;
  height: 40px;
  width: 50px;
  right: 5px;
  top: 10px;
  background: url("../img/snow_button_faq.svg") no-repeat;
  background-position-x: right;
  background-size: 50px;
}
@media screen and (max-width: 576px) {
  #faqs .accordion .accordion-item button::before {
    top: 28px;
  }
}
#faqs .accordion .accordion-item button::after {
  background-image: url('../img/arrow_down.svg');
  z-index: 2;
  position: absolute;
  background-size: 18px;
  right: 20px;
  top: 18px;
}
@media screen and (max-width: 576px) {
  #faqs .accordion .accordion-item button::after {
    top: 40px;
  }
}
#faqs .accordion .accordion-item button:not(.collapsed)::after {
  rotate: Y 180deg;
  position: absolute;
  top: 12px;
  right: 20px;
}
@media screen and (max-width: 576px) {
  #faqs .accordion .accordion-item button:not(.collapsed)::after {
    top: 30px;
  }
}
#faqs .accordion .accordion-item .accordion-body {
  font-family: Poppins;
  font-size: 16px;
}
#faqs .accordion .accordion-item .accordion-body a {
  color: #FFFFFF;
  font-weight: 600;
}
#faqs .thankyou {
  margin: 100px 0 100px 0;
}
@media screen and (max-width: 576px) {
  #faqs .thankyou {
    margin: 50px 0 50px 0;
  }
}
#faqs .thankyou img {
  background-color: #699FFA;
  border-radius: 50%;
  height: 100px;
  margin-bottom: 15px;
}
footer {
  background-color: #699FFA;
  border-radius: 120px 120px 0px 0px;
  font-family: knicknack;
  font-size: 24px;
}
@media screen and (max-width: 576px) {
  footer {
    border-radius: 60px 60px 0px 0px;
    font-size: 18px;
  }
}
footer .snow-corner-left {
  position: relative;
  top: -40px;
  left: 20px;
}
footer .snow-corner-right {
  position: relative;
  right: 20px;
  bottom: -20px;
}
